.cor     {
    color: aqua;
}

.cor__t {
color:chartreuse
}
#cor3 {
    background-color: brown;
}

.menu {
    list-style: none;
    
   
}

.menu__saude {
    list-style: none;
}

.menu__educacao {
    list-style: none;
}

.menu__li {
    display: inline-block;
    background-color: salmon;
}

a {
   text-decoration: none;
}